* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #e1c6f8;
  /* padding: 20px 30px; */
}

hr {
  border: 1px solid #fa51a5;
  margin: 0 30px;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 24px;
  gap: 32px;
}

.navbar .nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-link:hover,
.nav-link:focus {
  color: #fa51a5;
  font-weight: 500;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.container h1 {
  margin: 10px 0 0 8px;
}

/* Search */
.search-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

#form-search .form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

#form-search input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 50px 20px;
  font-size: 14px;
}

.btn-primary {
  padding: 8px 16px;
  margin-left: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #fa51a5;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.btn-text {
  color: grey;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 12px 0;
  cursor: pointer;
  text-align: left;
}

/* Gif */
.gif-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.card-gif {
  width: 200px;
  height: fit-content;
  border-radius: 8px;
  border: 2px solid #fa51a5;
  padding: 14px;
  background-color: white;
}

.card-gif img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-gif p {
  font-weight: 600;
  min-height: 58px;
}